@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 255 255 255;
    --foreground: 15 23 42;
  }

  .dark {
    --background: 32 51 58;
    --foreground: 248 250 252;
  }
}

html {
  font-family: system-ui, sans-serif;
  scroll-behavior: smooth;
}

body {
  @apply bg-slate-50 text-slate-950 dark:bg-[#0F171C] dark:text-slate-50 transition-colors duration-300;
}